.nav{
    text-align: center;
    font-size: large;
    font-weight:bolder ;
    flex: inherit;
    word-spacing:1cm ;
    
    
}
    
.nav li{
    display: inline-flex;
    
    
}
.nav ul{
    list-style: none;
    background-color: white;
    text-align:center;
}
 
h2{
    text-align: center;
}

.project1{
    display: inline;
}
.project2{
    display: inline;
}
.projects{
    background-image: url(./images/grey.jpg);
    background-size: cover;
    
}
