.nav{
    text-align: center;
    font-size: large;
    font-weight:bolder ;
    flex: inherit;
    word-spacing:1cm ;
    
    
}
    
.nav li{
    display: inline-flex;
    
    
}
.nav ul{
    list-style: none;
    background-color: white;
    text-align:center;
    
    
}
.home{
    text-align:center;
    height: 100vh;
    background-image: url(./images/grey.jpg);
    background-size: cover;
    width: 100%;
}
h1{
    color: black;
    padding-top: 5cm;
    font-stretch: extra-expanded;
    font-style: italic;
    font-size: 2cm;
}